asgiref==3.3.4
bcrypt==3.2.0
certifi==2022.9.24
cffi==1.14.5
click==7.1.2
distlib==0.3.6
Django==3.2
filelock==3.8.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pipenv==2022.10.12
platformdirs==2.5.2
protobuf==4.21.3
pycparser==2.20
pytz==2021.1
sqlparse==0.4.1
virtualenv==20.16.5
virtualenv-clone==0.5.7
Werkzeug==1.0.1
